@import 'animate.min.css';

/* map icons fade in an pulse  */

.fadeAndBounce {animation: fadeIn 3s ease, customBounce 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;}

.customBounce{-webkit-animation-name:customBounce;animation-name:customBounce}
@-webkit-keyframes customBounce{50% {transform: translate(-50%, -52%)}}
@keyframes customBounce{ 50% { transform: translate(-50%, -52%)}}

.flashing-animation { -webkit-animation-name: flashing-animation; animation-name: flashing-animation;}
@-webkit-keyframes flashing-animation { 50% { transform: scale(1.05); filter: drop-shadow(0px 0px 6px red)}}
@keyframes flashing-animation { 50% { transform: scale(1.05); filter: drop-shadow(0px 0px 6px red);}}

.mapFadeOut{-webkit-animation-name: mapFadeOut; animation-name: mapFadeOut;}
@-webkit-keyframes mapFadeOut{ 0% { transform: translate(-50%, -50%) scale(1); opacity: 1;} to {opacity: 0; transform: translate(0%, -100%)  scale(0);}}
@keyframes mapFadeOut{ 0% { transform: translate(-50%, -50%) scale(1); opacity: 1;} to {opacity: 0; transform: translate(0%, -100%)  scale(0);}}

.bagZoomOut { animation: bagZoomOut 2s ease-in-out;}
@-webkit-keyframes bagZoomOut{ 0% {transform: scale(1);-webkit-transform: scale(1);transform-origin: 100% 0;opacity: 1;} to {transform: scale(0); -webkit-transform: scale(0); opacity: 0}}
@keyframes bagZoomOut{ 0% {transform: scale(1);-webkit-transform: scale(1);transform-origin: 100% 0;opacity: 1;} to {transform: scale(0); -webkit-transform: scale(0); opacity: 0}}


.fanRotate {-webkit-animation-name: fanRotate; animation-name: fanRotate};
@-webkit-keyframes fanRotate {100% {transform: rotate(360deg)}}
@keyframes fanRotate {100% {transform: rotate(360deg)}}

.roomOrientation {animation: roomOrientate 3s ease-in-out; transform-origin: top}
.roomOrientate {-webkit-animation-name: roomOrientate; animation-name: roomOrientate}
@-webkit-keyframes roomOrientate {0% {transform: translateZ(400px) rotateX(20deg)} to {transform: translateZ(0vw) rotateX(0deg) }}
@keyframes roomOrientate {0% {transform: translateZ(400px) rotateX(20deg)} to {transform: translateZ(0vw) rotateX(0deg) }}


.phoneEnter {-webkit-animation-name: phoneEnter; animation-name: phoneEnter}
@-webkit-keyframes phoneEnter {0% {top: 105vh; left:105vw} to {top: 0; left: 0}}
@keyframes phoneEnter {0% {top: 105vh; left:105vw} to {top: 0; left: 0}}

.phoneExit {-webkit-animation-name: phoneExit; animation-name: phoneExit} 
@-webkit-keyframes phoneExit {0% {top: 0; left: 0} to {top: 105vh; left:105vw}}
@keyframes phoneExit {0% {bottom: 0; left: 0} to {bottom: -100vh; left:0 }}

.wake {
	animation: wakeUpAnimation 5s ease-out; transform: rotateX(-20deg); filter: blur(10px)
}

.lights {
	animation: lightFlicker 1s linear forwards;
  background-color: black;
  opacity: 1;
}

.wakeUpAnimation {-webkit-animation-name: wakeUpAnimation; animation-name: wakeUpAnimation}
@-webkit-keyframes wakeUpAnimation {
  0%{	border-top: 50vh solid black; border-bottom: 50vh solid black;}
  20% {border-top: 25vh solid black;; border-bottom: 25vh solid black;}
  30% {border-top: 50vh solid black;; border-bottom: 50vh solid black;}
  50% {	border-top: 20vh solid black;; border-bottom: 20vh solid black;;}
  60% {	border-top: 50vh solid black; border-bottom: 50vh solid black;}
  100% {border-top: 0; border-bottom:0};
}
@keyframes wakeUpAnimation {
  0%{	border-top: 50vh solid black; border-bottom: 50vh solid black;}
  20% {border-top: 25vh solid black;; border-bottom: 25vh solid black;}
  30% {border-top: 50vh solid black;; border-bottom: 50vh solid black;}
  50% {	border-top: 20vh solid black;; border-bottom: 20vh solid black;;}
  60% {	border-top: 50vh solid black; border-bottom: 50vh solid black;}
  100% {border-top: 0; border-bottom:0};
}

.roomWalk {
  animation: walkingAnimation 4s cubic-bezier(0.21, 0, 1, 1);
}

.walkingAnimation {-webkit-animation-name: walkingAnimation; animation-name: walkingAnimation} 
@-webkit-keyframes walkingAnimation {
  10% {transform: translate3d(10px, 15px, 310px)}
  20% {transform: translate3d(10px, 10px, 610px)}
  30% {transform: translate3d(10px, 15px, 910px)}
  40% {transform: translate3d(10px, 10px, 1210px)}
  50% {transform: translate3d(10px, 15px, 1510px); background-color: rgba(0,0,0,0);}
  60% {transform: translate3d(10px, 10px, 1810px)}
  70% {transform: translate3d(10px, 15px, 2110px)}
  80% {transform: translate3d(10px, 10px, 2410px)}
  90% {transform: translate3d(10px, 15px, 2710px)}
  100% {transform: translate3d(10px, 10px, 3010px); background-color: rgba(0,0,0,1);}}

@keyframes walkingAnimation {
  10% {transform: translate3d(10px, 15px, 310px)}
  20% {transform: translate3d(10px, 10px, 610px)}
  30% {transform: translate3d(10px, 15px, 910px)}
  40% {transform: translate3d(10px, 10px, 1210px)}
  50% {transform: translate3d(10px, 15px, 1510px); background-color: rgba(0,0,0,0);}
  60% {transform: translate3d(10px, 10px, 1810px)}
  70% {transform: translate3d(10px, 15px, 2110px)}
  80% {transform: translate3d(10px, 10px, 2410px)}
  90% {transform: translate3d(10px, 15px, 2710px)}
  100% {transform: translate3d(10px, 10px, 3010px); background-color: rgba(0,0,0,1);}
}

.lightFlicker {-webkit-animation-name: lightFlicker; animation-name: lightFlicker}
@-webkit-keyframes lightFlicker {5% {opacity: 0.8} 10% {opacity: 1} 20% {opacity: 0.5} 60% {opacity:1} 100% {opacity:0}}
@keyframes lightFlicker {5% {opacity: 0.8} 10% {opacity: 1} 20% {opacity: 0.5} 60% {opacity:1} 100% {opacity:0}}

.fridgeOpen {animation: openAnimation 4s ease-in-out forwards}
.fridgeClose {animation: openAnimation 1s ease forwards;animation-direction: reverse;}

.openAnimation {-webkit-animation-name: openAnimation; animation-name: openAnimation;}
@-webkit-keyframes openAnimation { 0% {transform: rotate3d(0, 0, 0, -115deg)} to {transform: rotate3d(0, 1, 0, -115deg)}}
@keyframes openAnimation { 0% {transform: rotate3d(0, 0, 0, -115deg)} to {transform: rotate3d(0, 1, 0, -115deg)}}

.kitchenWalk {
  animation: kWalkingAnimation 4s linear forwards; 
  /* transform: translate3d(-20vw, 10px, 3700px) rotateY(0deg) */
}

/* transform: translate3d(-20vw, 0, 3700px); */


.kWalkingAnimation {-webkit-animation-name: kWalkingAnimation; animation-name: kWalkingAnimation} 
@-webkit-keyframes kWalkingAnimation {
  10% {transform: translate3d(0vw, 15px, 310px) rotateY(1deg); animation-timing-function: ease-in;}
  20% {transform: translate3d(-2vw, 10px, 710px) rotateY(2deg); animation-timing-function: ease-out}
  30% {transform: translate3d(-4vw, 15px, 1110px) rotateY(3deg); animation-timing-function: ease-in;}
  40% {transform: translate3d(-6vw, 10px, 1510px) rotateY(3deg); animation-timing-function: ease-out}
  50% {transform: translate3d(-8vw, 15px, 1910px) rotateY(3deg); animation-timing-function: ease-in;}
  60% {transform: translate3d(-10vw, 10px, 2310px) rotateY(3deg); animation-timing-function: ease-out}
  70% {transform: translate3d(-12vw, 15px, 2710px) rotateY(3deg); animation-timing-function: ease-in;}
  80% {transform: translate3d(-16vw, 10px, 3110px)rotateY(2deg); animation-timing-function: ease-out}
  90% {transform: translate3d(-18vw, 15px, 3510px)rotateY(1deg); animation-timing-function: ease-in;}
  100% {transform: translate3d(-20vw, 10px, 3700px) rotateY(0deg); animation-timing-function: ease-out}
}

@keyframes kWalkingAnimation {
  10% {transform: translate3d(0vw, 15px, 310px) rotateY(1deg); animation-timing-function: ease-in;}
  20% {transform: translate3d(-2vw, 10px, 710px) rotateY(2deg); animation-timing-function: ease-out}
  30% {transform: translate3d(-4vw, 15px, 1110px) rotateY(3deg); animation-timing-function: ease-in;}
  40% {transform: translate3d(-6vw, 10px, 1510px) rotateY(3deg); animation-timing-function: ease-out}
  50% {transform: translate3d(-8vw, 15px, 1910px) rotateY(3deg); animation-timing-function: ease-in;}
  60% {transform: translate3d(-10vw, 10px, 2310px) rotateY(3deg); animation-timing-function: ease-out}
  70% {transform: translate3d(-12vw, 15px, 2710px) rotateY(3deg); animation-timing-function: ease-in;}
  80% {transform: translate3d(-16vw, 10px, 3110px)rotateY(2deg); animation-timing-function: ease-out}
  90% {transform: translate3d(-18vw, 15px, 3510px)rotateY(1deg); animation-timing-function: ease-in;}
  100% {transform: translate3d(-20vw, 10px, 3700px) rotateY(0deg); animation-timing-function: ease-out}
}

.walkOut {-webkit-animation-name: walkOut; animation-name: walkOut}
@-webkit-keyframes walkOut {0% {transform: translate3d(-20vw, 10px, 3700px) rotateY(0deg); animation-timing-function: ease-out} 50%,60% {transform:translate3d(0px, -10px, 560px) rotateY(-10deg);} 90%{ background-color: rgba(0,0,0,0)} 100% {transform:translate3d(130px, 0px, 2248px) rotateY(43deg); background-color: rgba(0,0,0,1)}}
@keyframes walkOut {0% {transform: translate3d(-20vw, 10px, 3700px) rotateY(0deg); animation-timing-function: ease-out} 50%,60% {transform:translate3d(0px, -10px, 560px) rotateY(-10deg);} 90%{ background-color: rgba(0,0,0,0)} 100% {transform:translate3d(130px, 0px, 2248px) rotateY(43deg); background-color: rgba(0,0,0,1)}}
